#map, body, html {
    height: 100%;
}

#map-container {
    position: center;
    height: 400px;
    height: 80vh;
    /* width: 600px; */
    /* width: 98vw; */
  }
   /* position: absolute;
   height: 80vh;
   min-height: 200px;
   width: 98vw;
   min-width: 200px;
   left: 2px;  
   border: 3px solid;
   border-color: grey;
   border-radius: 5px;
   margin-bottom: 0;
   z-index: -2; */
  #map {
    position: center;
    height: inherit; 
    width: inherit;
    border: 2px solid;
    border-color: rgba(8, 55, 117, 0.678);
    border-radius: 5px;
  }

.nav-uv {
position: absolute;
bottom: 0px;
left: 20px;
width: 350px;
}

.navbar {
    background-color: #003b46 !important;
}

html {
    background-color: #C4DFE6;
}

body {
    background-color: #C4DFE6;
}

.navbar-brand {
    color: #C4DFE6 !important;
    background-color: #003b46;
    padding-right: 10pt;
    padding-left: 10pt;
}

.nav-link {
    color: #C4DFE6 !important;
}

.active {
    color: #66A5AD !important;
}

h1 {
    font-size: 40pt;
    text-align: center;
    color: #003b46;
    background-color: #66a5ad;
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    font-size: 20pt;
    text-align: center;
    color: #003b46;
    
}

h3 {
    font-size: 30pt;
    text-align: center;
    color: #003b46;
    background-color: #66a5ad;
}

h4 {
    color: #003b46;
}

p {
    color: #003b46;
}

li {
    color: #003b46;
}

.infoL {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
  
.legend {
    background-color: “black”;
    line-height: 25px;
    color: #003b46;
    width: auto;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.5;
}

.card {
    background-color: #C4DFE6;
}

.card-header {
    font-size: 30pt;
    text-align: center;
    color: #003b46;
    background-color: #66a5ad;
}

aside {
    color: #003b46;
    font-size: 10px;
    font-style: italic;
}

::placeholder {
    color: #003b46 !important;
    opacity: 0.5;
}

button {
    background-color: #66a5ad;
    margin-top: 20px;
    color: #003b46;
    font-weight: bold !important;
}

#gaugeChart {
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
}
.footer {
    color: #003b46;
    margin: 10px 0px 0px 10px;
    position: sticky;
    bottom: 0px;
    background-color: #C4DFE6;
}


  